<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nome %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :Sexo %>
    <%= form.select :sex, ['Masculino','Feminino','Outro'] %>
  </div>

  <div class="field">
    <label>Data de Nascimento</label>
    <% if @patient.new_record? %>
      <%= form.date_field :born %>
    <% else %>
      <%= form.text_field :born %>
    <% end %>
  </div>

  <div class="field">
    <label>Nome da Mãe</label>
    <%= form.text_field :mother_name %>
  </div>

  <div class="field">
    <label>Nome do Pai</label>
    <%= form.text_field :father_name %>
  </div>

  <div class="field">
    <label>Data de Entrada</label>
    <% if @patient.new_record? %>
      <%= form.date_field :entry_date %>
    <% else %>
      <%= form.text_field :entry_date %>
    <% end %>
  </div>

  <div class="field">
    <label>Data de Saída</label>
    <% if @patient.new_record? %>
      <%= form.date_field :exit_date %>
    <% else %>
      <%= form.text_field :exit_date %>
    <% end %>
  </div>

  <div class="field">
    <label>Informações Adicionais</label>
    <%= form.text_area :infos %>
  </div>

  <div class="actions">
    <%= form.submit "Cadastrar Paciente", class: "btn-submit" %>
  </div>
<% end %>
