<div class="center-content">

  <h1>Dados do Paciente</h1>

  <p>
    <strong>Nome:</strong>
    <%= @patient.name %>
  </p>
  <hr>
  <p>
    <strong>Sexo:</strong>
    <%= @patient.sex %>
  </p>
  <hr>
  <p>
    <strong>Data de nascimento:</strong>
    <% if (@patient.born != "" && @patient.born != nil) %>
      <%= @patient.born.to_time.strftime("%d-%m-%Y") %>
    <% else %>
      Sem data
    <% end %>
  </p>
  <hr>
  <p>
    <strong>Nome da mãe:</strong>
    <%= @patient.mother_name %>
  </p>
  <hr>
  <p>
    <strong>Nome do pai:</strong>
    <%= @patient.father_name %>
  </p>
  <hr>
  <p>
    <strong>data de entrada:</strong>
    <% if (@patient.entry_date != "" && @patient.entry_date != nil) %>
      <%= @patient.entry_date.to_time.strftime("%d-%m-%Y") %>
    <% else %>
      Sem data
    <% end %>
  </p>
  <hr>
  <p>
    <strong>Data de saída:</strong>
    <% if (@patient.exit_date != "" && @patient.exit_date != nil) %>
      <%= @patient.exit_date.to_time.strftime("%d-%m-%Y") %>
    <% else %>
      Sem data
    <% end %>
  </p>
  <hr>
  <p>
    <strong>Informações:</strong>
    <%= @patient.infos %>
  </p>

  <div class="links-patient">
    <%= link_to 'Editar Usuário', edit_patient_path(@patient) %> |
    <%= link_to 'Voltar', patients_path %>
  </div>
 

</div>
