<!DOCTYPE html>
<html>
  <head>
    <title>Bdapae</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/9ab3075b55.js"></script>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <div class="header-logo">
          <%= image_tag "logo1.png" %>
        </div>
      <% end %>
      <div class="header-links">
        <ul>
          <% if user_signed_in? %>
            <%= link_to new_patient_path do %>
              <li>Cadastrar um paciente</li>
            <% end %>
            <%= link_to new_user_path do %>
              <li>Cadastrar um usuário do sistema</li>
            <% end %>
            <%= link_to patients_path do %>
              <li>Lista de pacientes</li>
            <% end %>
            <%= link_to destroy_user_session_path do %>
              <li>Sair</li>
            <% end %>
          <% else %>
            <%= link_to user_session_path do %>
              <li>Login</li>
            <% end %>
          <% end %>
        </ul>

      </div>
    </header>
    <div class="notices">
      <% flash.each do |name, msg| %>
        <ul>
            <li><%= msg %></li>   
        </ul>
      <% end %>
    </div>
    <%= yield %>
    <footer>
      <div class="logo">
        <%= image_tag "logorodape.jpg" %>
      </div>
      <div class="infos">
        <h2>Rua 13 de Maio, 320, Centro <br> Barbacena-MG - 36200-015 <br><a href="tel:3233315522">Tel: (32)3331-5522</a></h2>
        <h3><a href="https://www.google.com.br/maps/place/R.+Treze+de+Maio,+320+-+Centro,+Barbacena+-+MG,+36200-015/@-21.2251226,-43.7784494,16z/data=!4m5!3m4!1s0xa2206b7c5c8a61:0xc6e73bb59392ed17!8m2!3d-21.2238481!4d-43.7763056">Como chegar? <br> <i class="fas fa-map-marker-alt"></i></a></h3>
      </div>
    </footer>
  </body>
</html>
